version: '3.8'

services:
  db:
    image: postgres:14
    restart: unless-stopped
    environment:
      POSTGRES_DB: walletdb
      POSTGRES_USER: walletuser
      POSTGRES_PASSWORD: walletpass
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend

  web:
    build: .
    command: gunicorn config.wsgi:application --bind 0.0.0.0:3842 --workers 3
    restart: unless-stopped
    env_file: .env
    environment:
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
    depends_on:
      - db
    ports:
      - "3842:3842"
    volumes:
      - static_volume:/app/staticfiles
    networks:
      - backend

volumes:
  db_data:
  static_volume:

networks:
  backend:
    driver: bridge
